ANTHROPIC_API_KEY=
PERPLEXITY_API_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
YANDEX_WEBMASTER_TOKEN=
YANDEX_HOST_ID=
MONGODB_URL=mongodb://localhost:27017
COMPANY_PHONE=+7-XXX-XXX-XX-XX
COMPANY_EMAIL=info@russkiyasphalt.ru
